<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p>
  <b>Description:</b>
  <%= @node.description %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
